<ion-content ng-controller"challengeCtrl">
  <!-- List -->
  <ion-list>
    <div ng-repeat="challenge in challenges">
      <!-- Challenge Header -->
      <div class="item item-divider">{{challenge.title}}</div>
      <!-- Display Current Challenge -->
      <ion-item>
        <a ui-sref="responses" class="item item-thumbnail-left">
          <img src="http://placehold.it/50x50" alt="chall">
          <p>{{challenge.description}}</p>
          <p>{{challenge.people}}</p> 
          <i class="icon ion-heart">{{challenge.likes}}</i>
        </a>
      </ion-item>
    </div>
  </ion-list>
</ion-content>