<ion-content>
  <!-- List -->
  <ion-list>
    <!-- Challenge Header -->
    <div class="item item-divider">
        Mark's Challenge
    </div>
    <!-- Display Current Challenge -->
      <ion-item>
          <a class="item item-thumbnail-left" href="#">
              <img src="cover.jpg" alt="chall">
              <h2>Accent Challenge</h2>
              <p>Speak to a stranger in your best American accent!</p>
              <p> Total Responses: 4 </p>
          </a>
      </ion-item>
    <!-- Challenge Header -->
    <div class="item item-divider">
        Responses to Mark's Challenge
    </div>

    <!-- Repeat over all Response -->
    <ion-item>
        <div class="item item-thumbnail-left">
            <img src="cover.jpg" alt="resp">
            <h2>Accent Challenge</h2>
            <p>Speak to a stranger in your best American accent!</p>
            <p>Jon</p> 
            <i class="icon ion-heart"> 10 </i>
        </div>
      </ion-item>
   
    <ion-item>
        <div class="item item-thumbnail-left">
            <img src="cover.jpg" alt="resp">
            <h2>Accent Challenge</h2>
            <p>Speak to a stranger in your best American accent!</p>
            <p>Surya</p> 
            <i class="icon ion-heart"> 7 </i>
        </div>
    </ion-item>

    <ion-item>
        <div class="item item-thumbnail-left">
            <img src="cover.jpg" alt="resp">
            <h2>Accent Challenge</h2>
            <p>Speak to a stranger in your best American accent!</p>
            <p>Marvine</p> 
            <i class="icon ion-heart"> 3 </i>
        </div>
    </ion-item>

    <ion-item>
        <div class="item item-thumbnail-left">
            <img src="cover.jpg" alt="resp">
            <h2>Accent Challenge</h2>
            <p>Speak to a stranger in your best American accent!</p>
            <p>Sarah</p> 
            <i class="icon ion-heart"> 3 </i>
        </div>
    </ion-item>

  </ion-list>

</ion-content>