<ion-content ng-controller="videoCtrl">
  <!-- List -->
  <ion-list ng-model="challenge">
    <ion-item>
      <label class="item item-input item-floating-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Title" ng-model="challenge.title">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Video Description</span>
        <input type="text" placeholder="Video Description" ng-model="challenge.description">
      </label>
      <div class="item item-body">
        <video ng-show="challenge.img" src="{{challenge.clip}}" poster="{{generateThumb(challenge.clip)}}"></video>
      </div>
      <button ng-click="captureVideo()">Take video</button>
      <button ng-click='testChallenge()'> Test Challenge </button>
    </ion-item>
  </ion-list>
</ion-content>